__pycache__/
earthvision2021/data/
earthvision2021/labs/
earthvision2021/results/
earthvision2021/notebooks/

*.swp
*.pth
*.npy

# exceptions
!earthvision2021/data/source/*.txt
!earthvision2021/data/train/mean_std.csv
!earthvision2021/data/train/test_sliding_window_1024.csv
!earthvision2021/data/train/val_sliding_window_1024.csv

